@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'Cafe24Ssurround';
  color: #606060;
  text-decoration-line: none;
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: #faef9b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeSection {
  width: 85%;
  height: 85%;
  border-radius: 30px;
  background-color: #fdfae1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputSection {
  width: 35%;
  height: 8%;
  margin-top: 2vh;
  border-radius: 30px;
  background-color: #fdfae1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.HeaderSection {
  width: 85%;
  height: 20%;
  border-radius: 30px;
  background-color: #fdfae1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 7%;
  border: solid 1px #e4e1cb;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.link {
  text-decoration-line: none;
}

/* WritePage CSS */

.postSection1 {
  width: 85%;
  height: 85%;
  background-color: #fdfae1;
}

.postSection2 {
  width: 85%;
  height: 85%;
  background-color: #b5d3a7;
}

/* Main CSS */

.leftLogoSection {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 20vw;
  height: 15vh;
  background-color: #fdfae1;
}

.leftBoardSection {
  width: 20vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  border-radius: 30px;
  background-color: #fdfae1;
}

.rightSection {
  width: 70vw;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  border-radius: 30px;
  background-color: #fdfae1;
  flex-direction: column;
}

.logoSection {
  display: flex;
  justify-content: center;
}

.infoSection {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttonSection {
  display: flex;
  flex-direction: row;
}

.logoutButton,
.newPostButton {
  font-family: 'Cafe24SsurroundAir';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  height: 4.5vh;
  margin: 10px 5px;
  background-color: #b5d3a7;
  border-radius: 30px;
  border: solid 0.7px #e5e4de;
}

/* 글쓰기 컴포넌트 */

.greenBox {
  width: 66vw;
  height: 81vh;
  background-color: #b5d3a7;
  border-radius: 30px;
}

.postInfo {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: 'Cafe24SsurroundAir';
  margin: 10px 5px;
}

.postHeader {
  width: 63vw;
  height: 15vh;
  background-color: #e1eddc;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.categorySelect {
  width: 55vw;
  height: 12vh;
  background-color: #f3f8f1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.radios {
  flex-direction: row;
  margin-top: 10px;
}
label {
  font-family: 'Cafe24SsurroundAir';
  margin: 5px;
}

.postBody {
  width: 63vw;
  height: 51vh;
  margin-top: 0.9vw;
  background-color: #e1eddc;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.writeField {
  width: 48vw;
  height: 35vh;
  background-color: #f3f8f1;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-family: 'Cafe24SsurroundAir';
  padding: 30px;
  resize: none;
  outline: none;
}

.postButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 12px;
}

.textLength {
  margin-top: 29vh;
  font-family: 'Cafe24SsurroundAir';
}

/* Main Post 불러오는 페이지 CSS */

.post {
  width: 67vw;
  height: 24vh;
  background-color: #b5d3a7;
  border-radius: 30px;
  margin: 1.5vh 0vh;
}

.postContent {
  font-family: 'Cafe24SsurroundAir';
  padding: 0vw 2.5vw 2.5vw 2.5vw;
  font-size: 85%;
}

.post:hover {
  font-weight: bolder;
}

/*글 조회 (PostView) 페이지 CSS*/

.community {
  display: flex;
  justify-content: center;
}

.postViewHeader {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 1vw 0vw 1.9vw;
  font-family: 'Cafe24SsurroundAir';
}

.greenBox1 {
  width: 66vw;
  height: 81vh;
  background-color: #b5d3a7;
  border-radius: 30px;
}

.postViewBody {
  display: flex;
  justify-content: center;
  padding: 1vw 2.5vw 1.5vw 1.9vw;
  font-family: 'Cafe24SsurroundAir';
  font-size: 90%;
}

.postViewFooter {
  display: flex;
  justify-content: space-between;
  padding: 0vw 1.9vw 0.5vw 1.9vw;
}

.pagenation {
  display: flex;
  justify-content: center;
}

.commentField {
  width: 63vw;
  height: 12vh;
  background-color: #e1eddc;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputComment {
  width: 50vw;
  height: 3vh;
  padding: 20px;
  margin-left: 1vw;
  background-color: #f3f8f1;
  border-radius: 20px;
  border: none;
  resize: none;
  outline: none;
  font-family: 'Cafe24SsurroundAir';
}

.commentButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1vw;
  color: #647d87;
  font-size: 80%;
}

.commentList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1vh;
}
